services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/home/site/wwwroot:cached
    platform: linux/amd64
    command: sleep infinity
    network_mode: service:azurite

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    restart: unless-stopped
